// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// All Custom css and overrides below here.

// Some global vars
$blue: #486968;
$font-green: #6f9184;
$light-green: #a4c1b6;
$light-green-bg: #ebf6ed;
$dark-green: #2c5a5c;
$footer-green: #a0b6b6;
@mixin gibson-light {
	font-family: 'GibsonLight', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
@mixin gibson {
	font-family: 'GibsonRegular', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
@mixin gibson-light-bold {
	font-family: 'GibsonLightBold', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
@mixin droid-serif {
	font-family: 'DroidSerif',serif;
	font-weight: 400;
}
@mixin droid-serif-italic {
	font-family: 'DroidSerif-Italic',serif;
	font-weight: 400;
}


#top-arrw {
	background-color: #fb6c40;
	@include radius(3px);
  padding: emCalc(10px);
	position: fixed;
	right: 20px;
	bottom: 50%;
  display: none;
  z-index: 5;
}

.orange-divider {
	border-top: solid #fb6c40 5px;
}

body{
  position: inherit;
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	#inner-wrapper {
		#nav-wrapper {
			background: #ebf6ed;
		}
		#logo {
			text-align: center;
			margin-top: -29px;
			margin-bottom: 25px;
		}
		#site-nav {

			nav.top-bar {
				margin-bottom: 0;
				.toggle-topbar.menu-icon {
					left: -39px;
				}
				.top-bar-section {
					ul {
						background: #ebf6ed;
						li {
							text-align: center;
							a {
								color: $light-green;
								transition: color 400ms ease-out;
							}
							a:hover {
								background: url('/images/nav-arrow.png') top center no-repeat;
								color: #6f9184;
							}
						}
						.divider {
							border-right: 3px solid #e4f0e6;
							border-left: 3px solid #e4f0e6;
              height: 30px;
              margin-top: 14px;
						}
					}
					.mobile-tagline {
						display: none;
					}
				}
			}
			.name {
				h1 {
					a {
						color: $font-green;
					}
				}
			}
		}
		.nav-bar {
			position: relative;
			top: 1.4em;
			.button{
				font-family: 'GibsonLight', Helvetica, Arial, sans-serif;
				font-weight: normal;
			}
		}
    h1#site-name {
      text-align: center;
      color: $blue;
      font-size: emCalc(34px);
      font-weight: normal;
      margin-bottom: 0;
      height: 1.1em;
    }
		.tagline {
			h2 {
				font-family: "DroidSerif-Italic",serif;
        font-style: italic;
        font-weight: 500;
				color: #a0b6b6;
				font-size: emCalc(20px);
				text-align: center;
				margin-bottom: 50px;
			}
		}
		.portfolio-items {
			margin-bottom: emCalc(20px);
			.panel {
				position: relative;
				text-align: center;
				border: none;
				background-color: #fff;
				padding: 0;
				i {
					font-size: 6em;
				}
			}
			.portfolio-item {
				.portfolio-deets {
					background-color: #fb6c40;
					display: none;
					text-decoration: none;
					text-align: left;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: emCalc(25px);
					opacity: .95;
					list-style: none;
					color: #9e3414;
					@include gibson-light-bold;
					.client-name {
						font-size: emCalc(41px);
            line-height: emCalc(15px);
					}
					.client-dash {
						width: 100px;
            height: 3px;
						border-top: 3px solid #eb653c;
						margin-top: 20px;
            margin-bottom: 10px;
					}
					.client-services {
            color: #d65a34;
					}
				}
			}
		}
		.row#quote-box {
			margin-bottom: 50px;
			.large-12.columns {
				.quote-box-top {
					border-top: solid #fb6c40 5px;
				}
				.circle-quote {
					display: block;
					width: 39px;
					margin: -21px auto 0 auto;
				}
				.client-quote {
					font-family: "DroidSerif-Italic",serif;
					color: $dark-green;
					text-align: center;
					font-size: emCalc(30px);
					line-height: 1.3em;
					margin-top: 50px;
					margin-bottom: 50px;
          margin-left: 0;
          margin-right: 0;
          width: 100%;
				}
        #tips {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
            list-style: none;
            display: none;  
            .client-name {
              font-family: "brandon-grotesque",sans-serif;
              font-weight: 500;
              font-style: normal;
              text-align: center;
              color: #88ac9e;
              letter-spacing: .09em;
              font-size: emCalc(10px);
              .client-title {
                font-size: emCalc(16px);
                font-family: 'Droid Serif', serif;
                font-style: italic;
                font-weight: 400;
                color: #a4c1b6;
              }
            }
          }
        }
			}
		}
		#talk-wrapper {
			background: #ebf6ed;
			text-align: center;
			.row#lets-talk {
				font-family: 'Droid Serif', serif;
				font-style: italic;
				font-size: 20px;
				color: #a4c1b6;
				text-align: center;
				padding-top: 108px;
				padding-bottom: 100px;
				.talk-btn {
					display: block;
					background-color: #fb6c40;
					width: 144px;
					height: 50px;
					margin: 0 auto 0 auto;
					border-bottom: 24px solid #f2663c;
					font-size: 20px;
					font-family: "futura-pt",sans-serif;
					font-style: normal;
					font-weight: 700;
					color: #fff;
					text-align: center;
					text-decoration: none;
					line-height: 48px;
					@include radius(24px);
				}
			}
		}
		footer.row {
			margin-top: emCalc(20px);
			color: $footer-green;
			a {
				color: $footer-green;
			}
			p#copyright {
				float: left;
				color: #a4c1b6;
				font-family: "ff-dagny-web-pro",sans-serif;
				font-style: italic;
				font-weight: 400;
				font-size: emCalc(14px);
				span {
					color: #2c5a5c;
				}
			}
			.social-icons {
				font-size: emCalc(30px);
				li {
					height: 25px;
				}
				/* Facebarf styles */
				.fb_iframe_widget iframe {
					margin-top: -15px;
				}
				.pinteresting {
					a {
						top: -15px;
					}
				}
			}
		}
	}
	.other-projects {
		h3 {
			text-align: center;
		}
	}
}

body.work-details {
	.row.crumbs {
		margin-top: emCalc(30px);
		margin-bottom: emCalc(50px);
		.button {
			background-color: #fb6c40;
		}
	}
  #client-details-wrapper {
    background-color: #f1f6f6;
  }
	.client-details {
		h1 {
			font-size: emCalc(43px);
		}
		.hline {
			border-top: 3px solid #dfe9e9;
			width: 20%;
		}
		h2 {
			color: #c4d7d7;
			font-size: (18px);
			text-transform: uppercase;
			margin-bottom: emCalc(40px);
		}
		p.details {
			@include droid-serif-italic;
			color: #6f8c8c;
			font-size: emCalc(18px);
		}
	}
	.client-images {
		img {
			margin-bottom: emCalc(20px);
		}
	}
  .other-projects {
    margin-top: emCalc(30px);
    margin-bottom: emCalc(50px);
  }
}

body.about {
  h1#about-header {
    text-align: center;
    color: $blue;
    font-size: emCalc(34px);
    font-weight: normal;
    margin-top: emCalc(20px);
    margin-bottom: emCalc(30px);
    height: 1.1em;
  }
  .about-row{
  	margin-bottom: emCalc(66px);
	  .about-summary {
	  	.head-shot {
	  		text-align: center;
	  	}
	  	.question {
	  		text-align: center;
	  		margin-top: emCalc(18px);
	  		margin-bottom: emCalc(18px);
	  		.yeah {
	  			@include droid-serif-italic;
	  			color: #91adac;
	  			font-size: emCalc(14px);
	  			margin-bottom: emCalc(10px);
	  		}
	  		.what-do {
	  			@include gibson-light-bold;
	  			color: #91adac;
	  			font-size: emCalc(20px);
	  			text-transform: uppercase;
	  		}
	  	}
	  	.skilz {
	  		padding-top: emCalc(40px);
	  		padding-bottom: emCalc(20px);
	  		background-color: #edf0ed;
	  		background-image: url('/images/skilz-arrw.png');
	  		background-position: center top;
	  		background-repeat: no-repeat;
	  		color: #92a1a1;
	  		ul {
	  			list-style: none;
	  			margin: 0 0 emCalc(30px) 0;
	  			padding: 0;
	  			li {
	  				margin: 0 0 emCalc(10px) 0;
	  				padding: 0;
	  				list-style: none;
	  				text-align: center;
	  				.skill {
	  					text-transform: uppercase;
	  					@include gibson-light-bold;	  					
	  				}
	  				font-size: emCalc(18px);
	  				span.skill-desc {
	  					display: block;
	  					@include droid-serif-italic;
	  					font-size: emCalc(11px);
	  					color: #a1adad;
	  					text-transform: normal;
	  				}
	  			}
	  		}
				.need-somethin {
					padding-top: emCalc(20px);
					padding-bottom: emCalc(9px);
					margin-left: emCalc(25px);
					margin-right: emCalc(25px);
					margin-top: emCalc(22px);
					margin-bottom: 0;
					font-size: emCalc(14px);
					text-align: center;
					@include droid-serif-italic;
					border-top: 5px solid #fff;
					line-height: emCalc(23px);
				}
	  	}
	  }
	  .about-details {
	  	padding-left: emCalc(30px);
	  	padding-right: emCalc(120px);
	  	padding-top: emCalc(80px);
	  	padding-bottom: emCalc(30px);
	  	background-color: #648c8b;
	  	min-height: 707px;
	  	position: relative;
	  	p.first {
	  		@include droid-serif-italic;
	  		font-size: emCalc(24px);
	  		color: #fff;
	  	}
	  	p.second {
	  		@include droid-serif-italic;
	  		font-size: emCalc(16px);
	  		color: #b4d9d8;
	  	}
	  	.follow-me {
	  		position: absolute;
	  		left: 37px;
	  		bottom: 0;
	  		width: 80%;
	  		border-top: 5px solid #4d7170;
	  		margin-left: 0;
	  		padding-top: emCalc(31px);
	  		text-transform: uppercase;
	  		@include gibson-light-bold;
	  		color: #4d7170;
	  		li {
	  			line-height: emCalc(59px);
	  		}
	  		a {
	  			color: #4d7170;
	  		}
	  		a:hover {
	  			color: #fff;
	  		}
	  		i {
	  			font-size: emCalc(40px);
	  		}
	  	}
	  }
  }
  .about-studio {
    margin-bottom: emCalc(40px);
  	@include droid-serif-italic;
  	color: #92a1a1;
  	.columns {
  		ul {
  			list-style: none;
  			margin-left: 0;
  			font-size: emCalc(14px);
  			li {
  				list-style: none;
  			}
  		}
  		h4 {
  			border-top: 5px solid #eaf4ec;
  			padding-top: emCalc(10px);
  			@include gibson-light-bold;
  			font-size: emCalc(18px);
  			color: #4e4b50;
  			text-transform: uppercase;
  		}
  		p { font-size: emCalc(14px); }
  	}
  }
  #personal-project-wrap,
  #personal-proj-desc-wrap {
  	background-color: $light-green-bg;
  	@include droid-serif-italic;
  	color: #8ea29a;
  }
  .personal-projects {
  	text-align: center;
  	padding: emCalc(40px) 0;
  	h4 {
  		color: #a7b4af;
  	}
  }
  #personal-proj-desc-wrap {
    padding-bottom: emCalc(40px);
    .personal-proj-desc {
    	.large-4.columns {
    		border-top: 5px solid #fff;
    		h4 {
    			margin-top: emCalc(30px);
    		}
    		p {
    			font-size: emCalc(14px);
    		}
    	}
    	.col-first {
    		margin-left: 0;
    	}
    }
  }
  #inner-wrapper {
	  #talk-wrapper {
	  	background: #648c8b;
	  	.row#lets-talk {
	  		color: #fff;
		  	.talk-btn {
		  		color: #fb6c40;
		  		background-color: #fff;
		  		border-bottom: none;
		  	}
	  	}
	  }
	}
}

/* We use this media query to add styles to any device that supports media queries */
@media #{$screen} { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media #{$small} {
	.top-bar {
		.top-bar-section {
			.left {
				margin-left: emCalc(-22px);
			}
		}
	}
}

/* Used to alter styles for screens at least 1280px wide. */
@media #{$medium} { }

/* Used to alter styles for screens at least 1440px wide. */
@media #{$large} { }

/* Apply styles to screens smaller than 768 wide. This is where the grid changes. */
@media #{$small-max} { 

  #top-arrw {
    display: none;
  }

	body {
		#inner-wrapper {
			#logo {
				margin-top: 40px;
				margin-bottom: 0;
			}
			#site-nav {
				nav.top-bar {
					.top-bar-section {
						ul {
							li {
								a {
									position: relative;
									left: -8px;
								}
								a:hover {
									background-image: none;
								}
							}
							li.divider {
								border-right: none;
								border-left: none;
								border-top: 1px solid #e4f0e6;
								border-bottom: none;
                height: 1px;
                margin-top: 0;
							}
						}
						.mobile-tagline {
							display: block;
							position: absolute;
							top: -41px;
							right: 0;
							z-index: 5;
							color: #6f8c8c;
							width: 116px;
							li {
								display: inline;
								text-align: right;
								span {
									display: inline-block;
								}
							}
							.mobile-name {
								@include gibson-light-bold;
								font-size: emCalc(16px);
								padding-right: 4px;
							}
							.mobile-tag {
								@include droid-serif-italic;
								font-size: emCalc(12px);
								color: #a0b6b6;
							}
						}
					}
				}
			}
			footer.row {
				p#copyright {
					float: none;
					text-align: center;
					.curious {
						display: block;
					}
				}
				.right.social-icons {
					margin-right: emCalc(50px);
				}
			}
		}
	}

  body.about {
    .about-row {
      .about-details {
        min-height: 0;
        .follow-me {
          position: relative;
          left: inherit;
          i {
            font-size: 1.7em;
          }
        }
      }
    }
  }
}

/* Apply styles to screens in landscape orientation */
@media #{$landscape} { 
	.mobile-tag { display: none; }
}

/* Apply styles to screens in portrait orientation */
@media #{$portrait} {
	.mobile-tag { display: none; }
}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}
