// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// All Custom css and overrides below here.

// Some global vars
$blue: #486968;
$font-green: #6f9184;
$light-green: #a4c1b6;
$dark-green: #2c5a5c;
$footer-green: #a0b6b6;

body{
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	#inner-wrapper {
		#nav-wrapper {
			background: #ebf6ed;
		}
		#logo {
			text-align: center;
			margin-top: -29px;
			margin-bottom: 25px;
		}
		#site-nav {

			nav.top-bar {
				margin-bottom: 0;
				.toggle-topbar.menu-icon {
					left: -39px;
				}
				.top-bar-section {
					ul {
						background: #ebf6ed;
						li {
							text-align: center;
							a {
								color: $light-green;
							}
							a:hover {
								background: url('/images/nav-arrow.png') top center no-repeat;
							}
						}
						.divider {
							border-right: 3px solid #e4f0e6;
							border-left: 3px solid #e4f0e6;

						}
					}
				}
			}
			.name {
				h1 {
					a {
						color: $font-green;
					}
				}
			}
		}
		.nav-bar {
			position: relative;
			top: 1.4em;
			.button{
				font-family: 'GibsonLight', Helvetica, Arial, sans-serif;
				font-weight: normal;
			}
		}
    h1#site-name {
      text-align: center;
      color: $blue;
      font-size: emCalc(34px);
      font-weight: normal;
      margin-bottom: 0;
      height: 1.1em;
    }
		.tagline {
			h2 {
				font-family: "DroidSerif-Italic",serif;
        font-style: italic;
        font-weight: 500;
				color: #a0b6b6;
				font-size: emCalc(20px);
				text-align: center;
				margin-bottom: 50px;
			}
		}
		.portfolio-items {
			margin-bottom: emCalc(20px);
			.panel {
				position: relative;
				text-align: center;
				border: none;
				background-color: #fff;
				padding: 0;
				i {
					font-size: 6em;
				}
			}
			.portfolio-item {
				.portfolio-deets {
					background-color: #fb6c40;
					display: none;
					text-decoration: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					opacity: .95;
					list-style: none;
				}
			}
		}
		.row#quote-box {
			margin-bottom: 50px;
			.large-12.columns {
				.quote-box-top {
					border-top: solid #fb6c40 5px;
				}
				.circle-quote {
					display: block;
					width: 39px;
					margin: -21px auto 0 auto;
				}
				.client-quote {
					font-family: "DroidSerif-Italic",serif;
					color: $dark-green;
					text-align: center;
					font-size: emCalc(30px);
					line-height: 1.3em;
					margin-top: 50px;
					margin-bottom: 50px;
				}
				.client-name {
					font-family: "brandon-grotesque",sans-serif;
					font-weight: 500;
					font-style: normal;
					text-align: center;
					color: #88ac9e;
					letter-spacing: .09em;
					.client-title {
						font-size: emCalc(16px);
						font-family: 'Droid Serif', serif;
						font-style: italic;
						font-weight: 400;
						color: #a4c1b6;
					}
				}
			}
		}
		#talk-wrapper {
			background: #ebf6ed;
			text-align: center;
			.row#lets-talk {
				font-family: 'Droid Serif', serif;
				font-style: italic;
				font-size: 20px;
				color: #a4c1b6;
				text-align: center;
				padding-top: 108px;
				padding-bottom: 100px;
				.talk-btn {
					display: block;
					background-color: #fb6c40;
					width: 144px;
					height: 50px;
					margin: 0 auto 0 auto;
					border-bottom: 24px solid #f2663c;
					font-size: 20px;
					font-family: "futura-pt",sans-serif;
					font-style: normal;
					font-weight: 700;
					color: #fff;
					text-align: center;
					text-decoration: none;
					line-height: 48px;
					@include radius(24px);
				}
			}
		}
		footer.row {
			color: $footer-green;
			a {
				color: $footer-green;
			}
			p#copyright {
				float: left;
				color: #a4c1b6;
				font-family: "ff-dagny-web-pro",sans-serif;
				font-style: italic;
				font-weight: 400;
				font-size: emCalc(14px);
				span {
					color: #2c5a5c;
				}
			}
			.social-icons {
				font-size: emCalc(30px);
			}
		}
	}
}

/* We use this media query to add styles to any device that supports media queries */
@media #{$screen} { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media #{$small} { }

/* Used to alter styles for screens at least 1280px wide. */
@media #{$medium} { }

/* Used to alter styles for screens at least 1440px wide. */
@media #{$large} { }

/* Apply styles to screens in landscape orientation */
@media #{$landscape} { }

/* Apply styles to screens in portrait orientation */
@media #{$portrait} { }

/* Apply styles to screens smaller than 768 wide. This is where the grid changes. */
@media #{$small-max} { 
	body {
		#inner-wrapper {
			#logo {
				margin-top: 40px;
				margin-bottom: 0;
			}
			#site-nav {
				nav.top-bar {
					.top-bar-section {
						ul {
							li {
								a {
									position: relative;
									left: -8px;
								}
								a:hover {
									background-image: none;
								}
							}
							li.divider {
								border-right: none;
								border-left: none;
								border-top: 1px solid #e4f0e6;
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}
